:host {
  display: block;
}

.avatar-container {
    position: relative;
    width: 75px;
    height: 75px;
    overflow: hidden;
}

.avatar-container.lg {
    width: 150px;
    height: 150px;
}

.avatar-container.sm {
    width: 45px;
    height: 45px;
}

.avatar-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.avatar-content > img,
.avatar-content > span {
    display: flex;
    text-align: center;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    overflow: hidden;
    object-fit: contain;
}

.avatar-background {
    z-index: 1;
}

.avatar-container.round {
  border-radius: 50%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}