:host {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  background-color: #262a2f;
  color: #333;
}

.search-box {
    width: 600px;
    background-color: #fff;
    margin: 200px auto 0;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}


.search-box input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

.search-box button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.search-box ::placeholder {
    color: #aaa;
}

.search-box .result-box {
    display: none;
}

.search-box .result-box.show {
    display: block;
    max-height: 350px;
    overflow-y: scroll;
}

.search-box .result-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.search-box .result-box ul li:not(.listheader) {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.search-box .result-box ul li:not(.listheader):hover {
    background-color: #ccc;
}

.listheader {
    list-style: none;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 12px;
    color:#333
}

.clickable {
    cursor: pointer;
}

.reference-box {
    padding: 10px;
}

.reference {
    background-color: lightblue;
    opacity: 50%;
    padding: 3px;
    border-radius: 5px;
    margin: 0 5px;
}